div{
min-height:100%;

}
	.mainc {
	background: #92f799;	
}
.top {
	padding: 10px;
}
.top ul {
	float: right;
	margin-right: 30px;
}
.top li {
	display: inline-block;
	list-style: none;
	padding: 0 20px;
}

.top a {
	text-decoration: none;
	color:white;
}
.green{
	background: green;
}
.full {
	width:100%;
}

.half {
	float: left;
	width: 50%;
	color: white;
}

.half p {
	font-size: 1.5em;
	padding: 30px;
	width: 450px;

}

.half input {
	width: 90%;
}

.full textarea {
	width: 100%
}

.full input[type ='submit'] {
	width: initial;
	display: block;
	margin: 10px auto;
}
.quarter {
	width: 25%;
	float: left;
}

.quarter h4 {
	padding-left: 40px;
}

.quarter p {
	padding-left: 30px;
}

.quarter input {
	width: 200px;
}
.padding {
	padding: 10px;
}

.clear {
	clear: both;
}

.top {
	background-image: url(images/background.jpg);
	 background-repeat: no-repeat;
    background-position: 0%;
}
.form {
	padding: 30px;
	background: #7e9b7c;
	border-radius: 5px;
	margin: 30px;
	opacity: 0.8;
}
.form h4 {
	text-align: center;
}

.u-left{
	width: 45%;
	float:left;
}

.u-left img {
	border-radius: 50%;
}

.u-right{
	width: 55%;
	float: left;
}

.address {
	background: white;
	padding: 10px;
}

.preference {
	background: white;
	padding: 10px;
}

.delivered {
	width: 46%;
	float: left;
	margin-right: 5%;
	background: white;
	padding: 2%;
}

.undelivered {
	width: 41%;
	float: left;
	background: white;
	padding: 2%;
}
.order {
	padding: 30px;}


.order h2 {
	text-align: center;
}
.order_input {
	float: left;
	width: 46%;
	margin: 2%;
	padding: 0;
}

.order_input input {
	width: 96%;
	padding: 2%;
}

.order_input button {
	padding: 5px;
	width: 50%;
	background: white;
	border: 2px solid black;
	border-radius: 5px;
	margin-bottom: 3px;
}

.order_form {
	background: #b0b0b0;
}

.order_form textarea {
	width: 92%;
	padding: 2%;
}